<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.mapper.CartMapper">
	<resultMap id="BaseResultMap" type="com.zte.po.Cart">
		<result column="cart_id" jdbcType="INTEGER" property="cartId" />
		<result column="member_id" jdbcType="INTEGER"
			property="memberId" />
		<result column="goods_id" jdbcType="INTEGER" property="goodsId" />
		<result column="goods_num" jdbcType="INTEGER"
			property="goodsNum" />
		<result column="choose" jdbcType="TINYINT" property="choose" />
		<result column="amount" jdbcType="DECIMAL" property="amount" />
		<result column="creatime" jdbcType="TIMESTAMP"
			property="creatime" />
		<result column="modifytime" jdbcType="TIMESTAMP"
			property="modifytime" />
	</resultMap>
	<insert id="insert" parameterType="com.zte.po.Cart">
		insert into cart (cart_id,
		member_id, goods_id,
		goods_num, choose, amount,
		creatime, modifytime)
		values (#{cartId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER},
		#{goodsId,jdbcType=INTEGER},
		#{goodsNum,jdbcType=INTEGER},
		#{choose,jdbcType=TINYINT}, #{amount,jdbcType=DECIMAL},
		#{creatime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.zte.po.Cart">
		insert into cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cartId != null">
				cart_id,
			</if>
			<if test="memberId != null">
				member_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="goodsNum != null">
				goods_num,
			</if>
			<if test="choose != null">
				choose,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="creatime != null">
				creatime,
			</if>
			<if test="modifytime != null">
				modifytime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartId != null">
				#{cartId,jdbcType=INTEGER},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=INTEGER},
			</if>
			<if test="goodsId != null">
				#{goodsId,jdbcType=INTEGER},
			</if>
			<if test="goodsNum != null">
				#{goodsNum,jdbcType=INTEGER},
			</if>
			<if test="choose != null">
				#{choose,jdbcType=TINYINT},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="creatime != null">
				#{creatime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="selectByMemberId" parameterType="int"
		resultMap="cartMap">
		select *from cart c join goods g on c.goods_id=g.goods_id
		where
		c.member_id=#{member_id}
	</select>

	<resultMap type="cart" id="cartMap">

		<id property="cart_id" column="cart_id" />
		<result property="member_id" column="member_id" />
		<result property="goods_id" column="goods_id" />
		<result property="goods_num" column="goods_num" />
		<result property="choose" column="choose" />
		<result property="amount" column="amount" />
		<result property="creatime" column="creatime" />
		<result property="modifytime" column="modifytime" />
		<!-- "一对多"关系用collection元素 -->
		<collection property="briefGoods" javaType="java.util.List"
			ofType="briefGoods">
			<id property="goods_id" column="goods_id" />
			<result property="name" column="name" />
			<result property="price" column="price" />
			<result property="mktprice" column="mktprice" />
			<result property="small" column="small" />
			<result property="mkt_enable" column="mkt_enable" />
		</collection>
	</resultMap>

	<!-- delete元素，在此元素内写删除语句 -->
	<delete id="deleteById" parameterType="int">
		delete from cart where
		cart_id=#{cart_id}
	</delete>
</mapper>